.visual-diagram-top-layer {
    max-height:700px;
    border:1px solid #b9def0;
    background-color:white;
    /*flex-grow:1;*/
    position:relative;
    /* Вкл Прокрутку*/
    overflow: auto !important;
    cursor:default;
}

/* -Выравнивание ширины всех уровней по самой большой ширины уровня- */
div.top {
    width: max-content;
    min-width: 100%;
}
div.top > div {
    width: 100%;
}
/* ------------ */

/* -Стили для уровней- */
.div-level {
    min-height: 200px;
    width: max-content;
    border-bottom:2px dashed #337ab7;
    background-color: white;
    /* div в строку*/
    display: flex;
    /* убираем оступ слева возможно другое решение*/
    margin-left: -11px;
    /* выравнивание отступа справа*/
    margin-right: 11px;
}

.div-level-name {
    width: 100px;
    border-right:2px solid #337ab7;
    /* перенос теаста*/
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: keep-all;
    line-break: loose;
    /* текст по центру*/
    text-align: center;
}

.div-level-description {
    /* div в строку*/
    width: 100%;
    position:relative;
    display: flex;
}

/* -Стили для событий- */
.div-event {
    /* форма*/
    width: 150px;
    height: 80px;
    border:2px solid #337ab7;
    background-color:#f5f5f5;
    border-radius: 5px;
    /* текст по центру для дочернего блока div-event-name*/
    position: absolute;
}

.div-event:hover {
    border:2px solid #337ab7;
    background-color: #b9def0;
    opacity:0.9;
    cursor: pointer;
}

.div-event:active {
    cursor: move;
}

.div-event-name {
    /* текст по центру*/
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* -Стили для механизмов- */
.div-mechanism {
    width:69px;
    height:80px;
    background-image:url(/web/images/triangle.png);
    /* текст по центру для дочерних блоков div-mechanism-m*/
    position: absolute;
}

.div-mechanism-m {
    /* текст по центру*/
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.div-mechanism:hover {
    width:69px;
    height:80px;
    background-image:url(/web/images/triangle_activ.png);
    cursor: pointer;
}

.div-mechanism:active {
    cursor: move;
}