.visual-diagram-top-layer {
    height:750px;
    max-height:700px;
    border:1px solid #b9def0;
    background-color:white;
    /*flex-grow:1;
    position:relative;*/
    /* Вкл Прокрутку*/
    overflow: scroll !important;
    cursor:default;
}

/* -Стили для уровней- */
.div-level {
    min-height: 200px;
    border-bottom:2px dashed #337ab7;
    background-color: white;
    /* div в строку*/
    display: flex;
    /* убираем оступы по бокам возможно другое решение*/
    margin-left: -11px;
    margin-right: -11px;
}

.div-level-name {
    min-width: 100px;
    border-right:2px solid #337ab7;
    /* перенос теаста*/
    word-wrap: break-word;
    /* текст по центру*/
    text-align: center;
}

.div-level-description {
    /* div в строку*/
    display: flex;
}

/* -Стили для событий- */
.div-event {
    /* форма*/
    width: 150px;
    height: 80px;
    border:2px solid #337ab7;
    border-radius: 5px;
    /* текст по центру*/
    position: relative;
}

.div-event:hover {
    border:2px solid #337ab7;
    background-color: #b9def0;
    opacity:0.9;
    cursor: pointer;
}

.div-event:active {
    cursor: move;
}

.div-event-name {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* -Стили для механизмов- */
.div-mechanism {
    width:87px;
    height:100px;
    background-image:url(/web/images/triangle.png);
    position: relative;
}

.div-mechanism-m {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.div-mechanism-name {
    display: none;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.div-mechanism:hover {
    width:87px;
    height:100px;
    background-image:url(/web/images/triangle_activ.png);
    cursor: pointer;
}

.div-mechanism:hover .div-mechanism-name{
    display: block;
}

.div-mechanism:hover .div-mechanism-m{
    display: none;
}

.div-mechanism:active {
    cursor: move;
}